@font-face {
    font-family: mainFont;
    src: url(fonts/PressStart2P.ttf);
}

body {
    font-family: mainFont, serif;
    background-color: #393939;
    color: #A5A2B2;
    font-size: 7px;
    user-select: none;
    -moz-user-select: none;
    overflow: hidden;
}

#main-image {
    border: 1px white solid;
    user-select: none;
}

#main-input {
    font-family: mainFont, serif;
    background-color: #393939;
    color: #A5A2B2;
    text-transform: uppercase;
}

#main-input:focus-visible {
    outline: unset;
}

#vocab-layout {
    visibility: hidden;
    position: relative;
    top: -102px;
    left: 1px;
    line-height: 200%;
}

#gossips-layout {
    visibility: hidden;
    position: relative;
    top: -208px;
    line-height: 200%;
}

#msg {
    font-size: 10px;
    visibility: hidden;
    position: relative;
    top: -25px;
}

.hider {
    width: 10px;
    height: 10px;
    background-color: #393939;
    position: absolute;
}

#hide-n {
    top: 41px;
    left: 201px;
    visibility: hidden;
}

#hide-e {
    top: 58px;
    left: 259px;
    visibility: hidden;
}

#hide-s {
    top: 96px;
    left: 205px;
    visibility: hidden;
}

#hide-w {
    top: 58px;
    left: 150px;
    visibility: hidden;
}

#game {
    zoom: 1.8;
}

#start-img {
    position: absolute;
}